## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,65.77,88,100,6.62,NaN
1,1,Mataura,NZ,-46.1927,168.8643,35.47,98,97,1.70,NaN
2,2,Hobart,AU,-42.8794,147.3294,46.06,96,75,4.61,NaN
3,3,Kiama,AU,-34.6833,150.8667,50.38,72,29,1.99,NaN
4,4,Tochigi,JP,36.3833,139.7333,71.04,96,100,4.36,NaN

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 35
What is the maximum temperature you would like for your trip? 60

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Mataura,NZ,-46.1927,168.8643,35.47,98,97,1.70,NaN
2,2,Hobart,AU,-42.8794,147.3294,46.06,96,75,4.61,NaN
3,3,Kiama,AU,-34.6833,150.8667,50.38,72,29,1.99,NaN
14,14,Anadyr,RU,64.7500,177.4833,52.30,93,75,2.24,NaN
17,17,Port Alfred,ZA,-33.5906,26.8910,58.17,71,60,5.99,NaN
...,...,...,...,...,...,...,...,...,...,...
1403,1403,Diego De Almagro,CL,-26.3667,-70.0500,51.30,56,34,9.04,scattered clouds
1405,1405,Haines Junction,CA,60.7522,-137.5108,49.95,76,73,1.14,broken clouds
1422,1422,Krasnomayskiy,RU,57.6194,34.4099,59.65,89,69,4.56,light rain
1424,1424,Tasiilaq,GL,65.6145,-37.6368,41.67,70,54,6.46,broken clouds
1429,1429,Taseyevo,RU,57.2169,94.8978,55.81,64,76,1.41,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                338
City                   338
Country                338
Lat                    338
Lng                    338
Max Temp               338
Humidity               338
Cloudiness             338
Wind Speed             338
Current Description    173
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
718,718,Mataura,NZ,-46.1927,168.8643,35.47,98,97,2.33,light rain
719,719,Hobart,AU,-42.8794,147.3294,45.05,96,100,5.75,overcast clouds
720,720,Kiama,AU,-34.6833,150.8667,48.38,75,24,1.99,few clouds
725,725,Cape Town,ZA,-33.9258,18.4232,59.11,81,20,5.75,few clouds
731,731,Anadyr,RU,64.7500,177.4833,52.30,93,75,2.24,broken clouds
...,...,...,...,...,...,...,...,...,...,...
1403,1403,Diego De Almagro,CL,-26.3667,-70.0500,51.30,56,34,9.04,scattered clouds
1405,1405,Haines Junction,CA,60.7522,-137.5108,49.95,76,73,1.14,broken clouds
1422,1422,Krasnomayskiy,RU,57.6194,34.4099,59.65,89,69,4.56,light rain
1424,1424,Tasiilaq,GL,65.6145,-37.6368,41.67,70,54,6.46,broken clouds
1429,1429,Taseyevo,RU,57.2169,94.8978,55.81,64,76,1.41,broken clouds

In [7]:
# Check again to see if there are any empty rows

clean_df.count()

# Woo! - No empty rows!

City_ID                173
City                   173
Country                173
Lat                    173
Lng                    173
Max Temp               173
Humidity               173
Cloudiness             173
Wind Speed             173
Current Description    173
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
718,Mataura,NZ,35.47,light rain,-46.1927,168.8643,
719,Hobart,AU,45.05,overcast clouds,-42.8794,147.3294,
720,Kiama,AU,48.38,few clouds,-34.6833,150.8667,
725,Cape Town,ZA,59.11,few clouds,-33.9258,18.4232,
731,Anadyr,RU,52.30,broken clouds,64.7500,177.4833,
...,...,...,...,...,...,...,...
1403,Diego De Almagro,CL,51.30,scattered clouds,-26.3667,-70.0500,
1405,Haines Junction,CA,49.95,broken clouds,60.7522,-137.5108,
1422,Krasnomayskiy,RU,59.65,light rain,57.6194,34.4099,
1424,Tasiilaq,GL,41.67,broken clouds,65.6145,-37.6368,
1429,Taseyevo,RU,55.81,broken clouds,57.2169,94.8978,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [10]:
# 6b. Iterate through the hotel DataFrame.

for index, row in clean_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame

    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != "")]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
718,Mataura,NZ,35.47,light rain,-46.1927,168.8643,Ellie's Villa
719,Hobart,AU,45.05,overcast clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
720,Kiama,AU,48.38,few clouds,-34.6833,150.8667,The Sebel Kiama Harbourside
725,Cape Town,ZA,59.11,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
731,Anadyr,RU,52.30,broken clouds,64.7500,177.4833,Отке17.ру — жильё для командированных
...,...,...,...,...,...,...,...
1401,Yulara,AU,45.41,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
1403,Diego De Almagro,CL,51.30,scattered clouds,-26.3667,-70.0500,hotel luna del desierto
1405,Haines Junction,CA,49.95,broken clouds,60.7522,-137.5108,Parkside Inn
1424,Tasiilaq,GL,41.67,broken clouds,65.6145,-37.6368,The Red House
1429,Taseyevo,RU,55.81,broken clouds,57.2169,94.8978,Gostinitsa Taseyevo

In [12]:
# 8a. Create the output File (CSV)

output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))